@charset "utf-8";

/* Benefits - Military mental health */

[class^="box-"] {
    min-height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(50%);
}

.box-1 {
    background-image: url(http://canada.ca/content/dam/dnd-mdn/images/campaigns/mental-health/box-1.jpg);
}

.box-2 {
    background-image: url(http://canada.ca/content/dam/dnd-mdn/images/campaigns/mental-health/box-2.jpg);
}

.box-3 {
    background-image: url(http://canada.ca/content/dam/dnd-mdn/images/campaigns/mental-health/box-3.jpg);
}

.box-4 {
    background-image: url(http://canada.ca/content/dam/dnd-mdn/images/campaigns/mental-health/box-4.jpg);
}

[class^="box-"] p {
    padding: 5px 20px 5px 20px;
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    background-color: rgba(38, 55, 74, 0.6509803921568628);
    text-shadow: 3px 2px #000;
    text-align: right;
}

.box-footer {
    padding-top: 21%;
}

[class^="box-"]:hover {
    filter: saturate(125%);
    transition: all .5s ease;
}

[class^="box-"]>a {
    text-decoration: none;
}