/*
 * Data table image gallery
 */


/* Re-usable rules */

.backgroundsize.csstransitions .product-name,
.backgroundsize.csstransitions .product-platforms,
.backgroundsize.csstransitions .product-department,
.backgroundsize.csstransitions .product-language,
.backgroundsize.csstransitions .product-link-container,
#dt-ig_wrapper .product-name,
#dt-ig_wrapper .product-platforms,
#dt-ig_wrapper .product-links,
#dt-ig_wrapper .product-shortdescription,
#dt-ig_wrapper .product-longdescription,
#dt-ig_wrapper .product-department {
	border: 0;
	display: block;
}

.backgroundsize.csstransitions #dt-ig tbody tr .product-longdescription,
.backgroundsize.csstransitions #dt-ig tbody tr td.product-link-container,
.backgroundsize.csstransitions #dt-ig tbody tr .product-department,
#dt-ig_wrapper .record-close,
#dt-ig_wrapper :target .product-data-compressed,
#dt-ig_wrapper .product-data-hidden,
#dt-ig_wrapper .product-data-expanded {
	display: none;
	visibility: hidden;
}

.backgroundsize.csstransitions #dt-ig tbody tr:target .product-longdescription,
.backgroundsize.csstransitions #dt-ig tbody tr:target td.product-link-container,
.backgroundsize.csstransitions #dt-ig tbody tr:target .product-department,
#dt-ig_wrapper :target .record-close,
#dt-ig_wrapper :target .product-data-expanded,
#dt-ig_wrapper .product-data-compressed {
	display: block;
	visibility: visible;
}

.backgroundsize.csstransitions #dt-ig tbody {
	padding-top: 2em;
}

.backgroundsize.csstransitions #dt-ig tbody tr {
	display: inline-block;
	padding: 3px;
}

@media (max-width: 376px) {
	.backgroundsize.csstransitions #dt-ig tbody tr {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.backgroundsize.csstransitions #dt-ig tbody tr {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.backgroundsize.csstransitions #dt-ig tbody tr {
		width: 20%;
	}
}

@media (min-width: 991px) {
	#dt-ig img {
		width: 220px;
		height: 150px;
	}
}

@media (max-width: 990px) {
	#dt-ig img {
		width: 180px;
		height: 125px;
	}
}

@media (max-width: 768px) {
	#dt-ig img {
		width: 170px;
		height: 120px;
	}
}

@media (max-width: 321px) {
	#dt-ig img {
		width: 140px;
		height: 90px;
	}
}

.backgroundsize.csstransitions #dt-ig tbody tr .product-platforms span {
	margin-right: 5px;
}

.backgroundsize.csstransitions #dt-ig tbody tr:target {
	height: auto !important;
	width: 100%;
}

.backgroundsize.csstransitions #dt-ig tbody tr:target .product-longdescription {
	float: none;
}

.backgroundsize.csstransitions #dt-ig tbody tr:target .product-link-container {
	border: 0;
	float: none;
}

.backgroundsize.csstransitions #dt-ig tbody tr:hover {
	background-color: #e8e8e8;
	border-color: #d6d6d6;
	cursor: pointer;
}

.no-backgroundsize.no-csstransitions #dt-ig tr,
.backgroundsize.no-csstransitions #dt-ig tr {
	border-bottom: 1px solid #999 !important;
	border-top: 1px solid #999 !important;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-name,
.no-backgroundsize.no-csstransitions #dt-ig .product-platforms,
.no-backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-department,
.no-backgroundsize.no-csstransitions #dt-ig .product-links,
.backgroundsize.no-csstransitions #dt-ig .product-name,
.backgroundsize.no-csstransitions #dt-ig .product-platforms,
.backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.backgroundsize.no-csstransitions #dt-ig .product-department,
.backgroundsize.no-csstransitions #dt-ig .product-links {
	float: left !important;
	margin-left: 10px;
	margin-right: 10px;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-name,
.no-backgroundsize.no-csstransitions #dt-ig .product-platforms,
.no-backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-department,
.backgroundsize.no-csstransitions #dt-ig .product-name,
.backgroundsize.no-csstransitions #dt-ig .product-platforms,
.backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.backgroundsize.no-csstransitions #dt-ig .product-department {
	width: 96% !important;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-name,
.no-backgroundsize.no-csstransitions #dt-ig .product-platforms,
.backgroundsize.no-csstransitions #dt-ig .product-name,
.backgroundsize.no-csstransitions #dt-ig .product-platforms {
	margin-top: 10px;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-name,
.backgroundsize.no-csstransitions #dt-ig .product-name {
	padding-bottom: 0;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-platforms,
.backgroundsize.no-csstransitions #dt-ig .product-platforms {
	padding-top: 0;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-platforms,
.no-backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.no-backgroundsize.no-csstransitions #dt-ig .product-department,
.no-backgroundsize.no-csstransitions #dt-ig .product-links,
.backgroundsize.no-csstransitions #dt-ig .product-platforms,
.backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.backgroundsize.no-csstransitions #dt-ig .product-longdescription,
.backgroundsize.no-csstransitions #dt-ig .product-department,
.backgroundsize.no-csstransitions #dt-ig .product-links {
	clear: left;
	margin-top: 0;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.no-backgroundsize.no-csstransitions #dt-ig .record-close,
.backgroundsize.no-csstransitions #dt-ig .product-shortdescription,
.backgroundsize.no-csstransitions #dt-ig .record-close {
	display: none !important;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-link-container,
.backgroundsize.no-csstransitions #dt-ig .product-link-container {
	border: none !important;
}

.no-backgroundsize.no-csstransitions #dt-ig .product-link-list li,
.backgroundsize.no-csstransitions #dt-ig .product-link-list li {
	display: inline;
	float: left;
}

#dt-ig_wrapper {
	/* Layout of fields */
	/* Expand/collapse record functionality */
	/* Data visibility */
}

#dt-ig_wrapper .product-record {
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
}

#dt-ig_wrapper .product-record:target {
	height: auto !important;
}

#dt-ig_wrapper .product-record:hover {
	background-color: #e8e8e8;
	border-color: #d6d6d6;
	cursor: pointer;
}

#dt-ig_wrapper .product-icon {
	border: 0;
	float: left;
	height: 48px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding-bottom: 3px;
	padding-right: 3px;
	width: 48px;
}

#dt-ig_wrapper .product-shortdescription,
#dt-ig_wrapper .product-longdescription {
	margin-top: 1em;
}

#dt-ig_wrapper .product-department {
	font-weight: bold;
	margin-top: 1em;
}

#dt-ig_wrapper .product-link-list {
	list-style-type: none;
	margin-top: 1em;
	padding-left: 0;
}

#dt-ig_wrapper .product-link-container {
	margin-bottom: 1em;
}

#dt-ig_wrapper .product-link {
	display: block;
	padding: 6px 12px !important;
	text-align: left;
	text-decoration: none;
	text-transform: none !important;
	white-space: normal;
}

#dt-ig_wrapper .product-link:hover,
#dt-ig_wrapper .product-link:focus {
	text-decoration: none;
}

#dt-ig_wrapper .record-expand {
	color: inherit;
	text-decoration: none;
}

#dt-ig_wrapper .record-expand:hover,
#dt-ig_wrapper .record-expand:focus {
	color: inherit;
	text-decoration: underline;
}

#dt-ig_wrapper .record-close {
	float: right;
}

#dt-ig_wrapper .product-listing {
	border: 1px solid #ddd;
}

#dt-ig_wrapper .product-listing td {
	padding: 8px;
}

@media (min-width: 768px) {
	#dt-ig_wrapper .product-record {
		margin-left: 10px;
		margin-right: 10px;
		max-width: 47%;
	}

	#dt-ig_wrapper .product-record:target {
		max-width: 100%;
	}

	#dt-ig_wrapper .product-department,
	#dt-ig_wrapper .product-links {
		margin-right: 10px;
		width: 30%;
	}

	#dt-ig_wrapper .product-longdescription {
		float: right;
		margin-left: 10px;
		width: 67%;
	}
}

@media (min-width: 1200px) {
	#dt-ig_wrapper .product-record {
		max-width: 31.5%;
	}
}

.fip_text {
	fill: #000;
}

.fip_flag {
	fill: #F00;
}

@media screen {

	.fip_text,
	.fip_flag {
		fill: #FFF;
	}
}