h1 {
	display: none !important;
}

#zoom a:hover {
	cursor: zoom-in;
}

.modal-footer {
	display: none !important;
}

.bw {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	-webkit-filter: grayscale(100%);
}

.bw:hover {
	-webkit-filter: grayscale(0%);
}