@charset "utf-8";

.btn-investment {
    color: #fff;
    background-color: #903405;
    border-color: #071a07;
    font-family: FontAwesome, Helvetica, Arial, sans-serif;
    font-weight: inherit !important;
}

.btn-default {
    font-family: FontAwesome, Helvetica, Arial, sans-serif;
    font-weight: inherit !important;
}

a.btn-investment:visited {
    color: #fff;
}

.btn-investment:hover,
.btn-investment:focus,
.btn-investment.focus,
.btn-investment:active,
.btn-investment.active,
.open>.btn-investment.dropdown-toggle {
    color: #fff;
    background-color: #b54208;
    border-color: black;
}

.btn-investment:active,
.btn-investment.active,
.open>.btn-investment.dropdown-toggle {
    background-image: none;
}

.row.btn-footer {
    border-top: 2px solid #dbdada;
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid #dbdada;
}

.btn-footer .btn-investment {
    font-size: small;
}

.btn-investment.disabled,
.btn-investment.disabled:hover,
.btn-investment.disabled:focus,
.btn-investment.disabled.focus,
.btn-investment.disabled:active,
.btn-investment.disabled.active,
.btn-investment[disabled],
.btn-investment[disabled]:hover,
.btn-investment[disabled]:focus,
.btn-investment[disabled].focus,
.btn-investment[disabled]:active,
.btn-investment[disabled].active,
fieldset[disabled] .btn-investment,
fieldset[disabled] .btn-investment:hover,
fieldset[disabled] .btn-investment:focus,
fieldset[disabled] .btn-investment.focus,
fieldset[disabled] .btn-investment:active,
fieldset[disabled] .btn-investment.active {
    background-color: #903405;
    border-color: #071a07;
}

.btn-investment .badge {
    color: #903405;
    background-color: #fff;
}

.panel-investment .panel-heading {
    background-color: #903405;
    border-color: #903405;
    color: #FFF
}

.panel-investment {
    border-color: #903405;
}

.panel-heading-grey {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: #dcdcdc;
}


a.list-group-item {
    color: #555;
    text-decoration: none !important;
}


.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #eeeeee;
    color: #696969;
    cursor: pointer;
    border-color: #903405;
    font-weight: bold;
}

/* custom label */
.label-investment {
    background-color: #ffe4c6;
    border-color: #903405;
    color: #000 !important;
}

/* End label */


.theme h3 {
    font-size: 22px;
    background-color: #335075;
    color: #fff;
    padding: 13px;
    margin-bottom: 0px;
}

.panel-info .panel-heading {
    background-color: #335075;
    border-color: #335075;
    color: #FFF;
}


/* FONTS */


.lead {
    margin-bottom: 23px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    color: #903405;
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
}

h1 {
    border-bottom: 1px solid #903405;
}

h2,
.h2 {
    font-size: 26px;
    color: #903405;
}

/* DT / DD for FAQ */

#faq dd {
    padding-bottom: 13px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 25px;
}

#faq dt {
    font-size: 1.1em;
}

/* CUSTOM TABS */

#pb summary {
    display: list-item !important;
    list-style-type: none;
    list-style-type: disclosure-closed;
    visibility: visible !important;
}

#pb details:not([open]) details summary,
#pb details .out details summary {
    display: none !important;
}

#pb details summary::-webkit-details-marker {
    display: none;
}

#pb details:not([open]) summary::after {
    content: "+ Learn more";
    font-weight: bold;
    font-size: 16px;
}

#pb details[open] summary::after {
    content: "Close";
    font-weight: bold;
    font-size: 16px;
}

#pb details[open] {
    border: 0px;
}

#pb details {
    padding: 0px;
}

#pb details summary {
    color: #ffffff;
}

#pb details summary:focus,
#pb details summary:hover {
    text-decoration: none;
}

#pb details>summary {
    margin-left: 0em;
    margin-right: 0em;
}

.wb-tabs [role="tablist"]>li.active a {
    border-color: #000 !important;
    border-style: solid !important;
    background-color: #903405 !important;
    color: #FFF !important;
    font-weight: bold !important;
}

.wb-tabs [role="tablist"]>li {
    background: #dcdcdc !important;
    color: #000 !important;
    border: none !important;
}

.wb-tabs>details,
.wb-tabs>.tabpanels>details {
    border: none !important;
}

.wb-tabs [role=tablist]>li:focus,
.wb-tabs [role=tablist]>li:hover {
    background: #ccc !important;
    background: rgba(204, 204, 204, .9) !important;
}

.wb-tabs>.tabpanels>details,
.wb-tabs>details {
    padding: 2px 65px 0px 0px;
}

/* PAGINATION */

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #903405;
    border-color: #903405;
}

/* Tables */

.dataTables_wrapper.no-footer .dataTables_scrollBody,
table.dataTable tfoot td,
table.dataTable tfoot th,
table.dataTable thead td,
table.dataTable thead th,
table.dataTable.no-footer {
    border-bottom: 2px solid #903405;
}

table.dataTable th {
    color: #903405;
}