.lpc {
    Background-color: #D71920;
    Padding: 8px;
    Line-height: 1.33;
}

.cpc {
    Background-color: #1A4782;
    Padding: 8px;
    Line-height: 1.33;
}

.bq {
    Background-color: #33B2CC;
    Padding: 8px;
    Line-height: 1.33;
}

.npd {
    Background-color: #F37021;
    Padding: 8px;
    Line-height: 1.33;
}